.inner-wrapper{
    width: 30%;
    margin: auto;
    padding: 20px;
}

.list-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #808080;
    border: 2px solid #000000;
    margin-top: 10px;
    border-radius: 5px;
}

.list-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.list-element{
    border: 2px solid #000000;
    width: 90%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #808080;
}

.search{
    height: 35px;
    background: #61737A;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    background: #61737A;
    color: #D4D3D6;
}

.search-input::placeholder{
    color: #cadee7;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 750px) {
    .inner-wrapper{
        width: 50%;
    }
}